<template name="carousel">
  <section class="fj-carousel-wrap">
    {listItem}
    <div class="fj-carousel-arrow arrow-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
    <div class="fj-carousel-arrow arrow-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
    <div class="fj-carousel-dots-box">
      <div class="fj-carousel-dots">
        <div class="fj-carousel-dots-item active">1</div>
        <div class="fj-carousel-dots-item">2</div>
        <div class="fj-carousel-dots-item">3</div>
      </div>
    </div>
  </section>
</template>